.minhas-leituras-box{
  display: flex;
  margin-top: auto;
  gap: 20px;
  margin-right: 100px;
  font-size: 14px;
  color: #555;

}

.leitura-lista {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 22px;
  }
  .leitura-card {
    display: flex;
    background: #ebe1c6;
    border: 2px solid #74A65D;
    border-radius: 12px;
    padding: 30px 100px;
    box-shadow: 0 2px 10px rgba(116, 166, 93, 0.14);
    align-items: flex-start;
    gap: 24px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .leitura-card:hover {
    transform: scale(1.025) translateY(-2px);
    box-shadow: 0 8px 22px rgba(116, 166, 93, 0.3);
    border-color: #5a7b44;
  }
  .leitura-capa {
    width: 90px;
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid #74A65D;
  }
  .leitura-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .leitura-titulo {
    font-size: 20px;
    font-weight: 700;
    color: #517c50;
    margin-bottom: 3px;
  }
  .leitura-previa {
    font-size: 14px;
    color: #555;
    margin-bottom: 7px;
  }
  .leitura-progressos {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    font-size: 15px;
    color: #2c2c2c;
  }
  .leitura-progressos i {
    margin-right: 6px;
    color: #74A65D;
  }
  .leitura-pontos-total {
    margin-top: 32px;
    text-align: right;
    color: #517c50;
    font-size: 18px;
    font-weight: 700;
    padding-right: 9px;
  }
  